@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

/* Estilos correspondientes al header */
header {
  padding: 0 15%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 25px 10% 25px 10%;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 5000;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 898px) {
  .header__logo {
    gap: 8px;
  }
  header {
    padding: 20px 15% 15px 15%;
  }
}

.navigation__list {
  gap: 12px;
}

.navigation__item:link,
.navigation__item:visited {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: #404f60;
  padding: 0.4rem;
  border-width: 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation__item:hover,
.navigation__item:active {
  border-color: #9720b9;
  color: #9720b9;
}

/* Estilos del footer */
footer {
  padding: 0 15%;
  bottom: 0;
  background-color: #242424;
  color: #ffffff;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 10px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

footer ul li a {
  list-style: none;
  margin: 0 10px;
}

footer ul li a img {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

footer ul li a img:hover,
footer ul li a img:active {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

@media (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 5%;
  }
}

/* Estilos correspondientes al hero */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  max-height: 760px;
}

.hero__h2 {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}

.hero__h4 {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}

.hero__button:link,
.hero__button:visited {
  text-decoration: none;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  padding: 8px 16px;
  background-color: #2680eb;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  position: absolute;
}

/* Estilos correspondientes a sección features */
.features {
  padding: 60px 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.features__title {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  color: #404f60;
}

.features__table {
  margin: 40px auto;
}

.table__text,
.table__text--title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #404f60;
  vertical-align: baseline;
  margin: 10px 0;
}

.table__text--title {
  font-size: 2.4rem;
  font-weight: 700;
}

/*Estilo de Autores*/

.mainAutores .dosColumnas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainAutores .dosColumnas img {
  width: 100%;
  max-width: 300px;
}

.centrado {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2.5rem;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.columnaOchenta {
  width: 80%;
  margin: auto;
  max-width: 1600px;
}

.columnas {
  display: inline-block;
  width: 100%;
  margin-bottom: 2.5rem;
}

.dosColumnas {
  text-align: center;
}

.dosColumnas img {
  margin-bottom: 1rem;
}

.sectionMain {
  display: inline-block;
  width: 100%;
  padding-top: 30px;
}

.seccion {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Estilos para personajes */

.personajes {
  min-height: calc(100vh - 100px);
  padding: 150px 20%;
  background-color: #ffb34f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personajes__title {
  font-family: "Montserrat", sans-serif;
  font-size: 4.2rem;
  text-align: center;
  color: #ffffff;
  padding: 25px;
}
