$color-blue: #758af5;
$color-blue-dark: #5d6dc0;
$color-yellow: #ffb34f;
$color-pink: #f94fff;
$color-purple: #9720b9;

$color-white: #ffffff;
$color-grey-extra-light: #f7f7f7;
$color-grey-light: #d3d3d3;
$color-grey: #8295ab;
$color-grey-dark: #404f60;
$color-grey-extra-dark: #242424;
$color-black: #000000;
